.slide-container {
    width: 60vw;
    height: 35h;
    margin-left: 17%;
    margin-top: 6%;
    border: solid #87CEFA 0.1vw;
    border-radius: 3vw;
    background-color: #ffffff;
    color: #363636;
    
}

.each-slide {
    margin: 10%;
}

.relatos-slider{
    font-size: 20px;
    text-align: justify;
}

h4 {
    margin-bottom: 1%;
    color: #363636;
}

h3{
    margin-bottom: 3%;
    color: #363636;
}
